<h2>Buscar Peliculas</h2>

<form [formGroup]="form">
    <mat-form-field appearance="outline">
        <mat-label>Titulo</mat-label>
        <input matInput formControlName="titulo">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Género</mat-label>
        <mat-select formControlName="generoId">
            <mat-option [value]="0">-- Seleccione un género-- </mat-option>
            @for(genero of generos;track $index){
                <mat-option [value]="genero.id"> {{genero.nombre}} </mat-option>
            }
        </mat-select>
    </mat-form-field>
    <div>
        <mat-checkbox formControlName="proximosEstrenos">Próximos Estrenos</mat-checkbox>
    </div>
    <div>
        <mat-checkbox formControlName="enCines">En Cines</mat-checkbox>
    </div>
    <div>
       <button mat-flat-button color="warn" (click)="limpiar()">Limpiar</button>
    </div>
</form>
<app-listado-peliculas [peliculas]="peliculas"></app-listado-peliculas>