<form (ngSubmit)="guardarCambios()" [formGroup]="form">
    <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre" type="text">
        <mat-error></mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Fecha Nacimiento</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="fechaNacimiento">
        <mat-datepicker #picker></mat-datepicker>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>

    </mat-form-field>
    <div class="contenedor-botones">
        <button type="submit" mat-flat-button> Guardar Cambios</button>
        <button type="button" mat-stroked-button  routerLink="/actores"> Cancelar</button>

    </div>
</form>